/* Header Layout */

.mc-header {
  background-image: url(../images/bg-header.png);
  background-position: top center;
  background-repeat:  no-repeat;
  background-attachment: fixed;
  background-size:  cover;
}

img.mc-logo-image {
  max-width: 300px;
}

.mc-logo-image {
  position: relative;
  @include mq('phone') {
    left: 50%;
  }
  @include mq('phone-plus') {
    left: 2rem;
  }
  @include mq('tablet') {
    top: 2rem;
    left: 5rem;
  }
  @include mq('desktop') {
    left: 7rem;
  }
  @include mq('desktop-wide') {
    left: 9rem;
  }
}

.mc-header-locations {
  padding: 0;
  margin-top: 0;

  @include mq('tablet') {
    padding-right: 5rem;
  }
  @include mq('tablet-wide') {
    padding-right: 8rem;
  }
  @include mq('desktop') {
    padding-right: 10rem;
  }
  @include mq('desktop-wide') {
    padding-right: 12rem;
  }
}

/* Navbar Layout */

.navbar-scrolled {
  position: fixed;
  width: 100%;
  top: 0;
}

.navbar-item .button {
  color: $navbar-item-color;
}

.navbar-item .button:hover {
  color: $primary;
}

.bd-emoji {
  margin-right: 6px;
}

.bd-emoji.emoji-narrow {
  margin-right: 8px;
}

.bd-emoji.emoji-wide {
  margin-right: 2px;
}

/* Content Area Layout */

.column.mc-content-body {
  background-color: $content-background-color;
}

.columns.mc-content {
  margin: 0;
}

.mc-content-body .is-pulled-right {
  padding-left: 24px;
  padding-bottom: 12px;
}

.sidebar-image {
  display: block;
  max-width: 200px;
  margin: 12px auto;
}

/* Footer Layout */

.footer, .footer * {
  color: $footer-color;
  z-index: -10;
  position: relative;
}

/* Content Area Utilities (Not for an individual page) */

.button-round {
  @include button-round;

  & > span {
    left: 10%;
    position: absolute;
    top: 10%;
  }
}

.fotorama {
  margin: 4em auto;
}

/* Home Page */

.home-buttons-column {
  border: solid 1px $content-background-color;
  background-color: $button-background-color;
}

.home-buttons-column img {
  max-width: 60%;
  display: block;
  margin: 0 auto;
}


/* Staff Page */

.mc-staff-column .media {
  @include mq($to: tablet) {
    display: block;
  }
}

.mc-staff-column .image {
  @include mq($to: tablet) {
    margin: 0 auto 69px auto;
    width: 180px;
    height: 180px;
  }
}

/* FAQ Page */
.mc-faq dt {
  font-size: 1.5em;
  color: $primary;
  margin-bottom: 1.25em;
  cursor: pointer;
}


.mc-faq dt:hover {
  color: white;
}

.mc-faq dd {
  font-size: 1.25em;
  margin-bottom: 1.5em;
}

.mc-faq .mc-faq-active {
  font-weight: 700;
  color: $grey;
}
